@media (max-width: 767px){
    h1 {
        font-size: 40px;
        line-height: 55px;
    }

    h2 {
        font-size: 35px;
        line-height: 45px;
    }

    .col-md-4 {
        width: 100% !important;
    }

    a.white-btn, .primary-btn {
        padding: 10px 20px;
        font-size: 16px;
        text-align: center;
    }
    
    .global-header {
        .header-logo {
            img {
                max-width: 80px !important;
            }
        }
        .main-menu {
            display: none;
        }
    }

    section.banner {
        padding: 60px 0 !important;
        text-align: center;

        .row {
            flex-direction: column-reverse;

            .col-md-6 {
                width: 100%;
            }

            .content {
                padding-right: 0px !important;
                margin-top: 20px;
            }

            p {
                font-size: 16px;
            }
        }
    }

    section.solutions-sect {
        padding: 50px 0 0 0;

        .row {
            .col-md-4.card {
                width: 100%;
                margin-bottom: 15px;
            }
        }
    }

    section.cta {
        padding: 50px 0 !important;

        .row {
            padding: 40px 10px !important;
            flex-direction: column-reverse;
            margin-top: 0px !important;

            .col-md-8 {
                padding-right: 0px !important;
                width: 100%;

                .row {
                    padding-bottom: 0px !important;
                }
            }

            .col-md-4 {
                width: 100%;
                margin-bottom: 20px;
            }

        }
    }

    section.simple-content {
        padding: 50px 0 50px 0 !important;
    }

    section.pricing-table {
        .col-md-4 {
            width: 100% !important;
        }
    }

    footer.global-footer {
        padding-top: 60px !important;

        .table-main {
            .row {
                padding-bottom: 50px !important;
            }   
        }
    }

}