/* _reset.scss */
*,
*::before,
*::after, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
}
h1 {
    font-size: 40px;
    line-height: 52px;
    margin-bottom: 20px;
}