/* _reset.scss */
*,
*::before,
*::after, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
}
h1 {
    font-size: 55px;
    line-height: 70px;
    margin-bottom: 20px;
}
h2 {
    font-size: 50px;
    line-height: 62px;
}
.primary-btn {
    background-color: #d86e26;
    color: white;
    padding: 15px 30px;
    border-radius: 35px;
    font-size: 18px;
    font-weight: 600;
    margin-right: 0px !important;
}
.primary-btn a {
    color: white !important;
}
a.white-btn {
    background-color: #fff;
    color: #d86e26;
    padding: 15px 30px;
    border-radius: 35px;
    font-size: 18px;
    font-weight: 600;
    line-height: 32px;
}
a.black-btn {
    color: #223847;
    padding: 15px 30px;
    border-radius: 35px;
    font-size: 18px;
    font-weight: 600;
    border: 2px solid #223847;
}