// _variables.scss

// Primary colors
$primary-color: #223847;
$secondary-color: #d86e26;

// Neutral colors
$black: #000000;
$white: #ffffff;
$gray-light: #d3d3d3;
$gray-dark: #7f8c8d;

// Accent colors
$accent-color: #3393a2;
